.App {
  text-align: center;
  font-family: 'Acme', sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.matrix {
  display:flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  padding: 13px;
  background-color: white !important;
  width: 319px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .35);
}

.sub_Main_box {
  background-color: pink;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  }

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input_word {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.MuiInputLabel-root {
  color: #FFFFFF !important;
  
}

